{%extends "base.html" %}
{% block content %}

{% if auth %}
	<p class="error">Vous êtes déjà authentifié, non mais !</p>
{% else %}

	<form method="post">
		<label>
			<div>Pseudo</div>
			<input type="text" name="username" value="{{username}}"></input>
		</label>

		<label>
			<div>Password</div>
			<input type="password" name="password" value="{{password}}"></input>
		</label>

		<label>
			<div>Verify password</div>
			<input type="password" name="verify" value="{{verify}}"></input>
		</label>

		<label>
			<div>Email</div>
			<input type="text" name="email" value="{{email}}"></input>
		</label>

		<div class="error">{{error}}</div>

		<input type="submit"></input>
	</form>

{% endif %}

{% endblock %}